<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://www.monterrey.gob.mx" class="nav-link">
                <span>monterrey.gob.mx</span>
            </a>
        </li>
        <li>
            <a href="https://www.monterrey.gob.mx/pdf/portaln/AvisosPrivacidad/API_Datos_Mas.docx" class="nav-link">
                <span>Aviso de Privacidad</span>
            </a>
        </li>
        <li>
            <a href="https://siga.monterrey.gob.mx/" class="nav-link">
                <span>SIGA</span>
            </a>
        </li>
        <li>
            <a href="https://gobiernodigital.monterrey.gob.mx/" class="nav-link">
                <span>Dirección de Gobierno Digital</span>
            </a>
        </li>
    </ul>
</footer>
